<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
<style type="text/css" media="screen">
.gr_custom_container_1738562381 {
    /* customize your Goodreads widget container here*/
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000;
    
}
.gr_custom_header_1738562381 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
}
.gr_custom_each_container_1738562381 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_1738562381 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
    float: left;
    margin-right: 4px;
    width: 39px;
}
.gr_custom_author_1738562381 {
    /* customize your author names here */
    font-size: 10px;
}
.gr_custom_tags_1738562381 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
}
.gr_custom_rating_1738562381 {
    /* customize your rating stars here */
    float: right;
}
</style>

<div id="gr_custom_widget_1738562381">
    <div class="gr_custom_container_1738562381">
<h2 class="gr_custom_header_1738562381">
<a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/12688292-nat-baca?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">Recently Read</a>
</h2>
<div class="gr_custom_each_container_1738562381">
    <div class="gr_custom_book_container_1738562381">
        <a title="Raw Dog: The Naked Truth About Hot Dogs" rel="nofollow" href="https://www.goodreads.com/review/show/7267997692?utm_medium=api&amp;utm_source=custom_widget"><img alt="Raw Dog: The Naked Truth About Hot Dogs" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1665471313l/62039305._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1738562381">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7267997692?utm_medium=api&amp;utm_source=custom_widget">Raw Dog: The Naked Truth About Hot Dogs</a>
    </div>
    <div class="gr_custom_author_1738562381">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/6456083.Jamie_Loftus">Jamie Loftus</a>
    </div>
</div>
<div class="gr_custom_each_container_1738562381">
    <div class="gr_custom_book_container_1738562381">
        <a title="First, Break All the Rules: What the World's Greatest Managers Do Differently" rel="nofollow" href="https://www.goodreads.com/review/show/7256644217?utm_medium=api&amp;utm_source=custom_widget"><img alt="First, Break All the Rules: What the World's Greatest Managers Do Differently" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1442357545l/50937._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1738562381">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7256644217?utm_medium=api&amp;utm_source=custom_widget">First, Break All the Rules: What the World's Greatest Managers Do Differently</a>
    </div>
    <div class="gr_custom_author_1738562381">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/18731.Marcus_Buckingham">Marcus Buckingham</a>
    </div>
</div>
<div class="gr_custom_each_container_1738562381">
    <div class="gr_custom_book_container_1738562381">
        <a title="Black Pill: How I Witnessed the Darkest Corners of the Internet Come to Life, Poison Society, and Capture American Politics" rel="nofollow" href="https://www.goodreads.com/review/show/7231551505?utm_medium=api&amp;utm_source=custom_widget"><img alt="Black Pill: How I Witnessed the Darkest Corners of the Internet Come to Life, Poison Society, and Capture American Politics" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1705682041l/199798813._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1738562381">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7231551505?utm_medium=api&amp;utm_source=custom_widget">Black Pill: How I Witnessed the Darkest Corners of the Internet Come to Life, Poison Society, and Capture American Politics</a>
    </div>
    <div class="gr_custom_author_1738562381">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/45401833.Elle_Reeve">Elle Reeve</a>
    </div>
</div>
<div class="gr_custom_each_container_1738562381">
    <div class="gr_custom_book_container_1738562381">
        <a title="The Dispossessed (Hainish Cycle, #6)" rel="nofollow" href="https://www.goodreads.com/review/show/7216770208?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Dispossessed" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1623365300l/54297097._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1738562381">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7216770208?utm_medium=api&amp;utm_source=custom_widget">The Dispossessed</a>
    </div>
    <div class="gr_custom_author_1738562381">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/874602.Ursula_K_Le_Guin">Ursula K. Le Guin</a>
    </div>
</div>
<div class="gr_custom_each_container_1738562381">
    <div class="gr_custom_book_container_1738562381">
        <a title="The Engineering Leader: Strategies for Scaling Teams and Yourself" rel="nofollow" href="https://www.goodreads.com/review/show/7216768743?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Engineering Leader: Strategies for Scaling Teams and Yourself" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1713304819l/211569497._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1738562381">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7216768743?utm_medium=api&amp;utm_source=custom_widget">The Engineering Leader: Strategies for Scaling Teams and Yourself</a>
    </div>
    <div class="gr_custom_author_1738562381">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/45607335.Cate_Huston">Cate Huston</a>
    </div>
</div>
<div class="gr_custom_each_container_1738562381">
    <div class="gr_custom_book_container_1738562381">
        <a title="The Employees" rel="nofollow" href="https://www.goodreads.com/review/show/7202939843?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Employees" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1673027756l/75615791._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1738562381">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7202939843?utm_medium=api&amp;utm_source=custom_widget">The Employees</a>
    </div>
    <div class="gr_custom_author_1738562381">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/5815451.Olga_Ravn">Olga Ravn</a>
    </div>
</div>
<div class="gr_custom_each_container_1738562381">
    <div class="gr_custom_book_container_1738562381">
        <a title="No One Is Talking About This" rel="nofollow" href="https://www.goodreads.com/review/show/7201563648?utm_medium=api&amp;utm_source=custom_widget"><img alt="No One Is Talking About This" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1601474869l/55000246._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1738562381">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7201563648?utm_medium=api&amp;utm_source=custom_widget">No One Is Talking About This</a>
    </div>
    <div class="gr_custom_author_1738562381">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/5220577.Patricia_Lockwood">Patricia Lockwood</a>
    </div>
</div>
<div class="gr_custom_each_container_1738562381">
    <div class="gr_custom_book_container_1738562381">
        <a title="Escaping the Build Trap: How Effective Product Management Creates Real Value" rel="nofollow" href="https://www.goodreads.com/review/show/7182646212?utm_medium=api&amp;utm_source=custom_widget"><img alt="Escaping the Build Trap: How Effective Product Management Creates Real Value" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1541158637l/42611483._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1738562381">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7182646212?utm_medium=api&amp;utm_source=custom_widget">Escaping the Build Trap: How Effective Product Management Creates Real Value</a>
    </div>
    <div class="gr_custom_author_1738562381">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/16186920.Melissa_Perri">Melissa Perri</a>
    </div>
</div>
<div class="gr_custom_each_container_1738562381">
    <div class="gr_custom_book_container_1738562381">
        <a title="User Story Mapping: Discover the Whole Story, Build the Right Product" rel="nofollow" href="https://www.goodreads.com/review/show/7179025708?utm_medium=api&amp;utm_source=custom_widget"><img alt="User Story Mapping: Discover the Whole Story, Build the Right Product" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1410801669l/22221112._SX50_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1738562381">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7179025708?utm_medium=api&amp;utm_source=custom_widget">User Story Mapping: Discover the Whole Story, Build the Right Product</a>
    </div>
    <div class="gr_custom_author_1738562381">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/184921.Jeff_Patton">Jeff Patton</a>
    </div>
</div>
<div class="gr_custom_each_container_1738562381">
    <div class="gr_custom_book_container_1738562381">
        <a title="Succeeding with OKRs in Agile: How to create &amp; deliver objectives &amp; key results for teams" rel="nofollow" href="https://www.goodreads.com/review/show/7174602232?utm_medium=api&amp;utm_source=custom_widget"><img alt="Succeeding with OKRs in Agile: How to create &amp; deliver objectives &amp; key results for teams" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1612964187l/57019672._SX50_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1738562381">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7174602232?utm_medium=api&amp;utm_source=custom_widget">Succeeding with OKRs in Agile: How to create &amp; deliver objectives &amp; key results for teams</a>
    </div>
    <div class="gr_custom_author_1738562381">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/1997267.Allan_Kelly">Allan Kelly</a>
    </div>
</div>
<br style="clear: both"/>
<center>
    <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
</center>
<noscript>
    Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Nat, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
</noscript>
</div>

</div>
<script src="https://www.goodreads.com/review/custom_widget/12688292.Recently%20Read?cover_position=left&cover_size=small&num_books=10&order=d&shelf=read&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1738562381&widget_text_color=000000&widget_title_size=medium&widget_width=full" type="text/javascript" charset="utf-8"></script>