<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
<style type="text/css" media="screen">
.gr_custom_container_1738559154 {
    /* customize your Goodreads widget container here*/
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000;
    width: 300px
}
.gr_custom_header_1738559154 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
}
.gr_custom_each_container_1738559154 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_1738559154 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
    float: left;
    margin-right: 4px;
    width: 39px;
}
.gr_custom_author_1738559154 {
    /* customize your author names here */
    font-size: 10px;
}
.gr_custom_tags_1738559154 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
}
.gr_custom_rating_1738559154 {
    /* customize your rating stars here */
    float: right;
}
</style>

<div id="gr_custom_widget_1738559154">
    <div class="gr_custom_container_1738559154">
<h2 class="gr_custom_header_1738559154">
<a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/12688292-nat-baca?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">Nat&#39;s bookshelf: currently-reading</a>
</h2>
<div class="gr_custom_each_container_1738559154">
    <div class="gr_custom_book_container_1738559154">
        <a title="Site Reliability Engineering: How Google Runs Production Systems" rel="nofollow" href="https://www.goodreads.com/review/show/7272797850?utm_medium=api&amp;utm_source=custom_widget"><img alt="Site Reliability Engineering: How Google Runs Production Systems" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1459115220l/27968891._SX50_.jpg" /></a>
    </div>
    <div class="gr_custom_rating_1738559154">
        <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
    </div>
    <div class="gr_custom_title_1738559154">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7272797850?utm_medium=api&amp;utm_source=custom_widget">Site Reliability Engineering: How Google Runs Production Systems</a>
    </div>
    <div class="gr_custom_author_1738559154">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/14705355.Betsy_Beyer">Betsy Beyer</a>
    </div>
    <div class="gr_custom_tags_1738559154">
        tagged:
        currently-reading
    </div>
</div>
<div class="gr_custom_each_container_1738559154">
    <div class="gr_custom_book_container_1738559154">
        <a title="Hard-Boiled Wonderland and the End of the World" rel="nofollow" href="https://www.goodreads.com/review/show/7076189821?utm_medium=api&amp;utm_source=custom_widget"><img alt="Hard-Boiled Wonderland and the End of the World" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1728078373l/220110582._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_rating_1738559154">
        <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
    </div>
    <div class="gr_custom_title_1738559154">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7076189821?utm_medium=api&amp;utm_source=custom_widget">Hard-Boiled Wonderland and the End of the World</a>
    </div>
    <div class="gr_custom_author_1738559154">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/3354.Haruki_Murakami">Haruki Murakami</a>
    </div>
    <div class="gr_custom_tags_1738559154">
        tagged:
        currently-reading
    </div>
</div>
<div class="gr_custom_each_container_1738559154">
    <div class="gr_custom_book_container_1738559154">
        <a title="Blood in the Machine: The Origins of the Rebellion Against Big Tech" rel="nofollow" href="https://www.goodreads.com/review/show/6864001650?utm_medium=api&amp;utm_source=custom_widget"><img alt="Blood in the Machine: The Origins of the Rebellion Against Big Tech" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1639949844l/59801798._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_rating_1738559154">
        <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
    </div>
    <div class="gr_custom_title_1738559154">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/6864001650?utm_medium=api&amp;utm_source=custom_widget">Blood in the Machine: The Origins of the Rebellion Against Big Tech</a>
    </div>
    <div class="gr_custom_author_1738559154">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/15943126.Brian_Merchant">Brian Merchant</a>
    </div>
    <div class="gr_custom_tags_1738559154">
        tagged:
        currently-reading
    </div>
</div>
<div class="gr_custom_each_container_1738559154">
    <div class="gr_custom_book_container_1738559154">
        <a title="Three Hundred Tang Poems (Everyman's Library Pocket Poets Series)" rel="nofollow" href="https://www.goodreads.com/review/show/6405626805?utm_medium=api&amp;utm_source=custom_widget"><img alt="Three Hundred Tang Poems" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320485718l/6062859._SX50_.jpg" /></a>
    </div>
    <div class="gr_custom_rating_1738559154">
        <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
    </div>
    <div class="gr_custom_title_1738559154">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/6405626805?utm_medium=api&amp;utm_source=custom_widget">Three Hundred Tang Poems</a>
    </div>
    <div class="gr_custom_author_1738559154">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/17998349.Peter_Harris">Peter Harris</a>
    </div>
    <div class="gr_custom_tags_1738559154">
        tagged:
        currently-reading
    </div>
</div>
<div class="gr_custom_each_container_1738559154">
    <div class="gr_custom_book_container_1738559154">
        <a title="Arthur Rimbaud Collected Poems" rel="nofollow" href="https://www.goodreads.com/review/show/5305980715?utm_medium=api&amp;utm_source=custom_widget"><img alt="Arthur Rimbaud Collected Poems" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1628524026l/16310236._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_rating_1738559154">
        <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
    </div>
    <div class="gr_custom_title_1738559154">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/5305980715?utm_medium=api&amp;utm_source=custom_widget">Arthur Rimbaud Collected Poems</a>
    </div>
    <div class="gr_custom_author_1738559154">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/72605.Arthur_Rimbaud">Arthur Rimbaud</a>
    </div>
    <div class="gr_custom_tags_1738559154">
        tagged:
        currently-reading
    </div>
</div>
<br style="clear: both"/>
<center>
<a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
</center>
<noscript>
Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Nat, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
</noscript>
</div>

</div>
<script src="https://www.goodreads.com/review/custom_widget/12688292.Nat's%20bookshelf:%20currently-reading?cover_position=left&cover_size=small&num_books=5&order=d&shelf=currently-reading&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1738559154&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>