<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
<style type="text/css" media="screen">
.gr_custom_container_1739164980 {
    /* customize your Goodreads widget container here*/
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000;
    
}
.gr_custom_header_1739164980 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%
}
.gr_custom_each_container_1739164980 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_1739164980 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
    float: left;
    margin-right: 4px;
    width: 39px;
}
.gr_custom_author_1739164980 {
    /* customize your author names here */
    font-size: 10px;
}
.gr_custom_tags_1739164980 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
}
.gr_custom_rating_1739164980 {
    /* customize your rating stars here */
    float: right;
}
</style>
      
<div id="gr_custom_widget_1739164980">
    <div class="gr_custom_container_1739164980">
<h2 class="gr_custom_header_1739164980">
<a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/12688292-nat-baca?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">Nat&#39;s bookshelf: read</a>
</h2>
<div class="gr_custom_each_container_1739164980">
    <div class="gr_custom_book_container_1739164980">
        <a title="Good Strategy Bad Strategy: The Difference and Why It Matters" rel="nofollow" href="https://www.goodreads.com/review/show/7294895536?utm_medium=api&amp;utm_source=custom_widget"><img alt="Good Strategy Bad Strategy: The Difference and Why It Matters" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1360570381l/11721966._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1739164980">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7294895536?utm_medium=api&amp;utm_source=custom_widget">Good Strategy Bad Strategy: The Difference and Why It Matters</a>
    </div>
    <div class="gr_custom_author_1739164980">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/1709397.Richard_P_Rumelt">Richard P. Rumelt</a>
    </div>
</div>
<div class="gr_custom_each_container_1739164980">
    <div class="gr_custom_book_container_1739164980">
        <a title="The Other End of the Leash: Why We Do What We Do Around Dogs" rel="nofollow" href="https://www.goodreads.com/review/show/7150865589?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Other End of the Leash: Why We Do What We Do Around Dogs" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320461586l/119723._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1739164980">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7150865589?utm_medium=api&amp;utm_source=custom_widget">The Other End of the Leash: Why We Do What We Do Around Dogs</a>
    </div>
    <div class="gr_custom_author_1739164980">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/17425.Patricia_B_McConnell">Patricia B. McConnell</a>
    </div>
</div>
<div class="gr_custom_each_container_1739164980">
    <div class="gr_custom_book_container_1739164980">
        <a title="Character Limit: How Elon Musk Destroyed Twitter" rel="nofollow" href="https://www.goodreads.com/review/show/7163782692?utm_medium=api&amp;utm_source=custom_widget"><img alt="Character Limit: How Elon Musk Destroyed Twitter" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1709757863l/209543060._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1739164980">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7163782692?utm_medium=api&amp;utm_source=custom_widget">Character Limit: How Elon Musk Destroyed Twitter</a>
    </div>
    <div class="gr_custom_author_1739164980">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/48864155.Kate_Conger">Kate Conger</a>
    </div>
</div>
<div class="gr_custom_each_container_1739164980">
    <div class="gr_custom_book_container_1739164980">
        <a title="Raw Dog: The Naked Truth About Hot Dogs" rel="nofollow" href="https://www.goodreads.com/review/show/7267997692?utm_medium=api&amp;utm_source=custom_widget"><img alt="Raw Dog: The Naked Truth About Hot Dogs" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1665471313l/62039305._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1739164980">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7267997692?utm_medium=api&amp;utm_source=custom_widget">Raw Dog: The Naked Truth About Hot Dogs</a>
    </div>
    <div class="gr_custom_author_1739164980">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/6456083.Jamie_Loftus">Jamie Loftus</a>
    </div>
</div>
<div class="gr_custom_each_container_1739164980">
    <div class="gr_custom_book_container_1739164980">
        <a title="First, Break All the Rules: What the World's Greatest Managers Do Differently" rel="nofollow" href="https://www.goodreads.com/review/show/7256644217?utm_medium=api&amp;utm_source=custom_widget"><img alt="First, Break All the Rules: What the World's Greatest Managers Do Differently" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1442357545l/50937._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1739164980">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7256644217?utm_medium=api&amp;utm_source=custom_widget">First, Break All the Rules: What the World's Greatest Managers Do Differently</a>
    </div>
    <div class="gr_custom_author_1739164980">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/18731.Marcus_Buckingham">Marcus Buckingham</a>
    </div>
</div>
<div class="gr_custom_each_container_1739164980">
    <div class="gr_custom_book_container_1739164980">
        <a title="The Engineering Leader: Strategies for Scaling Teams and Yourself" rel="nofollow" href="https://www.goodreads.com/review/show/7216768743?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Engineering Leader: Strategies for Scaling Teams and Yourself" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1713304819l/211569497._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1739164980">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7216768743?utm_medium=api&amp;utm_source=custom_widget">The Engineering Leader: Strategies for Scaling Teams and Yourself</a>
    </div>
    <div class="gr_custom_author_1739164980">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/45607335.Cate_Huston">Cate Huston</a>
    </div>
</div>
<div class="gr_custom_each_container_1739164980">
    <div class="gr_custom_book_container_1739164980">
        <a title="Black Pill: How I Witnessed the Darkest Corners of the Internet Come to Life, Poison Society, and Capture American Politics" rel="nofollow" href="https://www.goodreads.com/review/show/7231551505?utm_medium=api&amp;utm_source=custom_widget"><img alt="Black Pill: How I Witnessed the Darkest Corners of the Internet Come to Life, Poison Society, and Capture American Politics" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1705682041l/199798813._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1739164980">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7231551505?utm_medium=api&amp;utm_source=custom_widget">Black Pill: How I Witnessed the Darkest Corners of the Internet Come to Life, Poison Society, and Capture American Politics</a>
    </div>
    <div class="gr_custom_author_1739164980">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/45401833.Elle_Reeve">Elle Reeve</a>
    </div>
</div>
<div class="gr_custom_each_container_1739164980">
    <div class="gr_custom_book_container_1739164980">
        <a title="The Dispossessed (Hainish Cycle, #6)" rel="nofollow" href="https://www.goodreads.com/review/show/7216770208?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Dispossessed" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1623365300l/54297097._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1739164980">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7216770208?utm_medium=api&amp;utm_source=custom_widget">The Dispossessed</a>
    </div>
    <div class="gr_custom_author_1739164980">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/874602.Ursula_K_Le_Guin">Ursula K. Le Guin</a>
    </div>
</div>
<div class="gr_custom_each_container_1739164980">
    <div class="gr_custom_book_container_1739164980">
        <a title="Wuthering Heights" rel="nofollow" href="https://www.goodreads.com/review/show/2121334731?utm_medium=api&amp;utm_source=custom_widget"><img alt="Wuthering Heights" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1440172540l/24506029._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1739164980">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/2121334731?utm_medium=api&amp;utm_source=custom_widget">Wuthering Heights</a>
    </div>
    <div class="gr_custom_author_1739164980">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/4191.Emily_Bront_">Emily Brontë</a>
    </div>
</div>
<div class="gr_custom_each_container_1739164980">
    <div class="gr_custom_book_container_1739164980">
        <a title="The Employees" rel="nofollow" href="https://www.goodreads.com/review/show/7202939843?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Employees" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1673027756l/75615791._SY75_.jpg" /></a>
    </div>
    <div class="gr_custom_title_1739164980">
        <a rel="nofollow" href="https://www.goodreads.com/review/show/7202939843?utm_medium=api&amp;utm_source=custom_widget">The Employees</a>
    </div>
    <div class="gr_custom_author_1739164980">
        by <a rel="nofollow" href="https://www.goodreads.com/author/show/5815451.Olga_Ravn">Olga Ravn</a>
    </div>
</div>
<br style="clear: both"/>
<center>
<a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
</center>
<noscript>
Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Nat, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
</noscript>
</div>

</div>
<script src="https://www.goodreads.com/review/custom_widget/12688292.Nat's%20bookshelf:%20read?cover_position=left&cover_size=small&num_books=10&order=d&shelf=read&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1739164980&widget_text_color=000000&widget_title_size=medium&widget_width=full" type="text/javascript" charset="utf-8"></script>