---
---

@import "{{ site.theme }}";

/* Make the image and text bigger */
.profile-pic {
  width: 12em;
  height: 12em;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

#social-icons {
  font-size: 2em;
  list-style: none;
  margin: 0 auto 2rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  justify-content: left;
  justify-items: left;
}

.wrapper {
  background-color: #f8f8f8;
}