---
---

@import "{{ site.theme }}";

a:hover {
  font-weight: inherit;
}

#social-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-bottom: 50px;
  justify-items: center;
}

#social-icons .cell {
  margin-top: 20px;
}

#social-icons i {
  font-size: 50px;
}

#cv {
  position: absolute;
  right: 15%;
}
