---
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
---

<footer class="site-footer">
  <div class="footer-inner">
    <p>&copy; {today.getFullYear()} Nat Baca. All rights reserved.</p>
  </div>
</footer>
