.site-header, .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    h1 {
      font-size: 3rem;
    }
  
    .profile-pic {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    }
  }
  